textarea {
	resize: none;
	height: 200px;
	width: 90%;
	padding: 10px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid #E5E4E2;
}

p {
	text-align: center;
}

.page-footer font-small blue {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: red;
	color: white;
	text-align: center;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: #FF5349;
	color: white;
	text-align: center;
}

.post-area h1 {
	color: red;
	text-align: center;
}

img {
	display: inline-block;
	width: 50px;
	height: 50px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	margin-left: 50%;
	margin-right: 50%;
	margin-top: 10%;
}

#postSubmit {
	height: 30px;
	margin-left: 5%;
	margin-right: 5%;
	width: 90%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	background-color: #FF5349;
	font-weight: bold;
}

.post-box textarea {
	resize: none;
	margin: 5%;
}

.post-box input[type="submit"] {
	margin-bottom: 5%;
}

.post-box {
	background: white;
	font-size: 20px;
	border: 1px solid black;
	margin-top: 5%;
	margin-left: 30%;
	margin-right: 35%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}