

.comment-elements textarea{
	width: 500px;
	max-width: 500px;
	margin-top: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid black;	
	resize: none;
}

.comment-elements label{	
    display: block;
    text-align: center;
   
}


#delete-button{
	background-color:red;
}
.delete-button{
	color: red;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	
}

.vertical-center {
	padding-top: 20px;
	padding-bottom: 20px;
	text-align: center;
}

img {
	width: 70px;
	height: 70px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
}

.container {
	margin-top: 1%;
	margin-bottom: 2%;
	
	
}


.comment-content {
	
	background: white;
	padding-top: 5px;
	width: 500px;
	max-width: 500px; 
	
	min-height: 150px;
	overflow: hidden;

	
	margin-left: -5%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid black;
	
}

.content {
	
	background: white;
	padding-top: 5px;
	width: 500px;
	max-width: 500px; 
	margin-left: -5%;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	border-bottom-right-radius: 10px;
	border: 2px solid black;
	
}