<<<<<<< Updated upstream
textarea{
    resize: none;
    height: 200px;
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    border: 2px solid #E5E4E2;

 
}


h1{
    color: red;
    text-align: center;
}

=======


>>>>>>> Stashed changes
img{
    width: 70px;
	height: 70px; 
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

<<<<<<< Updated upstream
#postSubmit{
    height:20px;
    margin-left: 5%;
    margin-right: 5%;
    width:90%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: #FF5349;
    font-weight: bold;

}

.container{
    float: left;
    margin-top: 2%;
    margin-left: 2%;
    margin-bottom: 1%;
}

.content{
    background: white;
    padding: 10px;
    border: 1px solid black;
    width: 70%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    
}


.post-box{
    background: white;
    font-size: 20px;
    padding: 10px;
    border: 1px solid black;
    margin-top: 10%;
    margin-left: 25%;
    margin-right: 25%;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;


}
=======


.container{
    margin-top: 1%;
    margin-bottom: 2%;
    
}

	.content{
	    background: white;
		padding-top: 5px;
			
	    border: 1px solid black;
	    width: 450px;
	   	max-width:300px; /* or whatever width you want. */
	   	display: inline-block;
	    border-top-right-radius: 10px;
	    border-top-left-radius: 10px;
	    border-bottom-left-radius: 10px;
	    border-bottom-right-radius: 10px;
	    
	}

>>>>>>> Stashed changes


